@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

#auction {
  font-family: var.$font-family-base;
  min-height: 100vh;
  width: 100%;
  background-color: var.$background-color-light;
  .card-container {
    font-family: var.$font-family-base;
    .card-wrapper {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      max-width: 100%;
      overflow: auto;
      padding-top: 80px;
      margin-bottom: 1rem;
      .card {
        margin-top: 2rem;
        .card-image {
          width: 100%;
        }
        .card-body {
          background-color: var.$primary-color-default;
          color: var.$background-color-light;
          .card-p-one-element {
            font-size: 1.2rem;
            margin-bottom: 0.2rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
          }
          .card-p-two-element {
            font-size: 0.9rem;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          }
          .card-p-title-element {
            @extend %d-flex-space-between;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
            .card-span-element {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
            .card-p-title-span-element {
              font-family: var.$font-family-styled;
              font-size: 1.8rem;
            }
          }
        }
      }
      @include mix.tablet-styles {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
    }
  }
  .live-auction {
    .live-auction-inner {
        #btn-bid {
            width: 100%;
        }
    }
  }
}
