@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

#items {
  background-color: var.$background-color-normal;
  .card-container {
    font-family: var.$font-family-base;
    .card-wrapper {
      @extend %section;
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      max-width: 100%;
      overflow: auto;
      min-height: calc(100vh - 80px);
      .card {
        .card-image {
          width: 100%;
        }
        .card-body {
          background-color: var.$background-color-light;
          color: var.$primary-color-default;
          .card-p-one-element {
            font-size: 1.2rem;
            margin-bottom: 0.2rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
          }
          .card-p-two-element {
            font-size: 0.9rem;
            margin-bottom: 5px;
            padding: 0.5rem 0.5rem 0 0.5rem;
          }
          .card-p-title-element {
            @extend %d-flex-space-between;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
            .card-span-element {
              font-size: 0.8rem;
              padding: 0.2rem 0.4rem;
            }
            .card-p-title-span-element {
              font-family: var.$font-family-styled;
              font-size: 1.8rem;
            }
          }
          .buttons-wrapper-card {
            @extend %d-flex-center;
            flex-wrap: wrap;
            background-color: var.$primary-color-default;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            width: 100%;
            button {
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
      @include mix.tablet-styles {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
    }
  }
  #add-new-item {
    width: 100%;
    background-color: var.$background-color-normal;
    padding-top: calc(80px + 30px);
    .add-new-item-square {
      width: 100%;
      background-color: var.$background-color-light;
      padding: 1rem;
      .add-new-item-square-inner {
        @extend %d-flex-center;
        border: 2px dashed var.$primary-color-default;
        padding: 2rem;
        font-size: var.$font-size-small;
        color: var.$primary-color-default;
      }
    }
  }
}

.edit-window {
  @extend %artist-window-setup;
  form {
    margin: 2rem 1rem;
    color: var.$background-color-normal;
    margin-bottom: var.$gutter-base * 1;
    .edit-paragraph {
      @extend %d-flex-space-between;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    .form-group-artist {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      label,
      input,
      select {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: var.$background-color-light;
        outline: none;

        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
      }
      input,
      select,
      textarea,
      .item-is-published-checkbox {
        background-color: transparent;
        border: 1px solid var.$background-color-normal;
        padding: 0.5rem;
        &::placeholder {
          font-size: 0.8rem;
          color: var.$background-color-normal;
          padding-left: 0.5rem;
        }
      }
      input {
        margin-bottom: 0;
      }

      label {
        font-size: 1.3rem;
      }

      textarea {
        font-size: 1rem;
        font-family: var.$font-family-base;
        font-weight: 300;
        height: 100px;
        color: var.$background-color-light;
        outline: 0;
      }
      select {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        color: var.$background-color-normal;
      }
      .price-group {
        .type-group {
          margin-right: 1rem;
          input {
            margin-top: 0.5rem;
            margin-bottom: 0;
          }
        }
        .price-group-inner {
          input {
            margin-top: 0.5rem;
            margin-bottom: 0;
          }
        }
        @media (max-width: 768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .edit-image {
      @extend %d-flex-center;
      @media (min-width: 375px) {
        img {
          width: 400px;
        }
      }
    }
    .button-wrapper-edit-window {
      @extend %d-flex-space-between;
      button {
        width: 50%;
      }
      .save-btn {
        margin-right: 1rem;
      }
      
    }
  }

  p {
    font-size: var.$font-size-medium;
    color: var.$background-color-light;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      margin-bottom: 0.5rem;
      font-size: var.$font-size-small;
    }
  }
}

.edit-window.is-active {
  left: 0;
}

.add-new-item-window {
  @extend %artist-window-setup;
  #add-new-item-form {
    margin: 2rem 1rem;
    color: var.$background-color-normal;
    margin-bottom: var.$gutter-base * 1;
    .edit-paragraph {
      @extend %d-flex-space-between;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    .form-group-artist {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      label,
      input,
      select {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: var.$background-color-light;
        outline: none;
        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
      }
      input,
      select,
      textarea,
      .new-item-is-published-checkbox {
        background-color: transparent;
        border: 1px solid var.$background-color-normal;
        padding: 0.5rem;
        &::placeholder {
          font-size: 0.8rem;
          color: var.$background-color-normal;
          padding-left: 0.5rem;
        }
      }
      input {
        margin-bottom: 0;
      }

      label {
        font-size: 1.3rem;
      }

      textarea {
        font-size: 1rem;
        font-family: var.$font-family-base;
        font-weight: 300;
        height: 100px;
        color: var.$background-color-light;
        outline: 0;
      }
      select {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        color: var.$background-color-normal;
      }
      .price-group {
        .type-group {
          margin-right: 1rem;
          input {
            margin-top: 0.5rem;
            margin-bottom: 0;
          }
        }
        .price-group-inner {
          input {
            margin-top: 0.5rem;
            margin-bottom: 0;
          }
        }
        @media (max-width: 768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .form-text {
      @extend %d-flex-center;
    }
    .button-wrapper-edit-window {
      @extend %d-flex-space-between;
      button {
        width: 50%;
      }
      .save-btn {
        margin-right: 1rem;
      }
    }
    .camera-square {
      .camera-square-inner {
        @extend %d-flex-center;
        flex-direction: column;
        border: 2px dashed var.$background-color-light;
        padding: 2rem;
        font-size: var.$font-size-small;
        color: var.$background-color-light;
        i {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    
  }
}


.camera-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: var.$background-color-light;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.add-new-item-window.is-active {
  left: 0;
}

#item-title-input {
  margin-bottom: 0;
}
