@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.main-container {
  .content-slider-wrapper {
    @extend %slider-setup;
    .slider-one {
      @extend %section;
      display: flex;
      width: calc(250px * 18);
      animation: scrollLeft 100s linear infinite;
      flex-direction: row-reverse;
      &:hover {
        animation-play-state: paused;
      }
      .slide {
        a {
          @extend %slide-setup;
          img {
            @extend %slider-img-setup;
            &:hover {
              transform: translateZ(10px);
            }
          }
        }
      }
    }
    .slider-two {
      display: flex;
      width: calc(250px * 18);
      animation: scrollRight 100s linear infinite;
      padding-bottom: var.$gutter-base;
      &:hover {
        animation-play-state: paused;
      }
      .slide {
        a {
          @extend %slide-setup;
          img {
            @extend %slider-img-setup;
            &:hover {
              transform: translateZ(10px);
              animation-play-state: paused;
            }
          }
        }
      }
    }
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-250px * 9));
  }
  100% {
    transform: translateX(0);
  }
}
